footer{
    background-color: $bg-1;
    height: auto;
    position: relative;
    top: 40px;

    .footer__conteiner1{
        display: flex;
        justify-content: space-evenly;
        margin: 0 150px;
        align-items: center;

        .footer__conteiner__div-h3{
            margin: 0;
            font-size: 22px;
            line-height: 29px;
            /* identical to box height */

            letter-spacing: -0.3px;

            color: $bg-3;
            position: relative;
            top: 10px;
            left: -10px;

        }
    }

    .footer__svg{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .footer__conteiner2{
        display: flex;
        margin: 0 150px;

        .footer__conteiner2__form{
            width: 300px;
            margin-right: 100px;
            .footer__conteiner2-h3{
                margin: 0;
                font-size: 22px;
                line-height: 29px;
                /* identical to box height */

                letter-spacing: -0.3px;

                color: $bg-3;
            
            }

            .footer__conteiner-input{
                background-color: $bg-1;
                border: 2px solid #C1CCD4;
                outline: none;
                border-radius: 10px;
                width: 289px;
                height: 49,62px;
                padding: 10px;
                color: $bg-3;
            }
        }

        .footer__conteiner2__links{
           width: 100%;
           
            ul{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                row-gap: 30px;
                a{
                    text-decoration: none;
                    li{
                        text-decoration: none;
                        list-style:none;
                        font-size: 18px;
                        color: $bg-3;
                    }
                }
            }

           
            
        }
    }

    .footer__conteiner3{
        display: flex;
        justify-content: space-between;
        margin: 0 150px;

        .footer__conteiner3-link{
            font-size: 18px;
            color: $bg-3;
            text-decoration: none;
        }
    }
}

.nav__link--active{
    font-weight: bold;
    color: #fff;
}

//Responsive

@media screen and (max-width: 745px){
    footer{
        .footer__conteiner1{
            display: block;
            margin: 0;
            .footer__conteiner1-img{
                display: block;
                margin: 0 auto;
            }
            .footer__conteiner__div-h3{
                text-align: center;
                margin: 0 0 30px;
            }
    
            .button-center{
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    ul{
        display: block !important;
        width: auto !important;
        padding: 0  ;
        li{
            padding: 10px !important;
            text-align: center !important;
        }
    }

    .footer__conteiner2{
        margin: 0 !important;
    }

    .footer__conteiner3{
        display: block !important;
        margin: 10px !important;
    }

    .footer__terms{
        text-align: center;
    }

    .footer__icons{
        display: block;
        margin: 0px auto;
        width: 130px;
        padding: 20px 0;
    }
}