.proyect__header{
    box-sizing: border-box;
    min-height: 100vh;

    .proyect__header-img{
        background: rgba(0, 0, 0, 0.2);
        filter: blur(10px);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 100%;
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .proyect__header-h2{
        font-family: Mali;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 83px;
        color: #fff;
        text-align: center;
        position: relative;
        top: 230px;
    }

    .proyect_header__img{
        width: 480px;
        height: auto;
        display: block;
        margin: 250px auto;
        background: $bg-1;
        padding: 20px;
        border-radius: 10px;
        .proyect_header__img-img{
            width: 100% 
        }
    }
}



article{
    margin: 50px 150px;

    h3{
    font-family: Mali;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;

    color: #FFFFFF;
    }

    p{
        font-family: Mali;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;

    color: $bg-3;
    }

    code{
        color: #fff;    
    }

    h4{
        font-family: Mali;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 62px;

        color: #FFFFFF;
    }

    h5, h6{
        font-family: Mali;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 62px;

        color: #FFFFFF;
    }

    ol, ul, dl, pre{
        font-family: Mali;
        color: $bg-3;
        font-size: 18px;
    }

    img, iframe{
        display: block;
        margin: 0 auto;
    }
}

// Comments
.comments-separation{
    width: 100%
}

.comments{
    margin: 50px 100px;
    .comments__container{
        display: flex;
        height: auto;
        .comments__img{
            display: block;
            margin: auto 0;
            .comments__img-name{
                width: 50px;
                display: block;
                 margin: 0 auto;
                font-size: 18px;
                font-family: Mali;
                color: #fff;
            }
        }
        .comments__textarea{
            margin-left: 20px;
            width: 100%;
            .comments__textarea-text{
                background: rgba(255, 255, 255, 0.02);
                /* Shadow */

                box-shadow: 1px 1px 100px 5px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(15px);
                /* Note: backdrop-filter has minimal browser support */

                border-radius: 5px;

                color: $bg-3;
                font-family: Mali;
                font-size: 18px;

                padding: 20px;
                border: none;
                width: 100%;
                height: 140px;
                display: block;
            }
        }
       
    }
}

@media screen and (max-width: 1000px){
    article{
        margin: 50px 100px;
    }
}

@media screen and (max-width: 600px){
    article{
        margin: 50px 50px;
    }
}